<html>
    <head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if refresh_url %}
	<META HTTP-EQUIV="Refresh" CONTENT="{{delay}}; URL={{refresh_url}}">
	{% endif %}
	<link rel="stylesheet" type="text/css" href="https://www.p27.eu/index.css">
	{% if javascript_file %}
	<script type="text/javascript" src="{{ javascript_file }}" async></script>
	{% endif %}
	{% if javascript_inline %}
	<script type="text/javascript">
	 {{ javascript_inline }}
	</script>
	{% endif %}
	<title>{{title}}</title>
	{% if css_text %}
	<style>
	    {{ css_text }}
	</style>
	{% endif %}
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//wa.p27.eu/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<!-- Matomo Image Tracker-->
<img src="https://wa.p27.eu/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" />
<!-- End Matomo -->
    </head>
    <body>
	{{body}}
    </body>
</html>
